{% extends 'base.html' %}

{% block content %}
<h2 class="mt-5">Ajouter un Tableau</h2>
<form method="POST" enctype="multipart/form-data" class="mt-4"> <!-- Ajout de enctype -->
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.nom.label(class="form-label") }}<br>
        {{ form.nom(class="form-control", size=40) }}<br>
        {% for error in form.nom.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-label") }}<br>
        {{ form.description(class="form-control", rows=5, cols=40) }}<br>
        {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.prix.label(class="form-label") }}<br>
        {{ form.prix(class="form-control") }}<br>
        {% for error in form.prix.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.image_path.label(class="form-label") }}<br>
        {{ form.image_path(class="form-control-file") }}<br> <!-- Supprimer size=40 pour laisser Flask-WTF gérer -->
        {% for error in form.image_path.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
