{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Tableaux</h1>
    <div class="row">
        {% for tableau in tableaux %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if tableau.image_path %}
                        <img src="{{ url_for('static', filename='uploads/' ~ tableau.image_path) }}" class="card-img-top" alt="{{ tableau.nom }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ tableau.nom }}</h5>
                        <p class="card-text">{{ tableau.description }}</p>
                        <p class="card-text"><strong>{{ tableau.prix }} €</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
